.carousel_us{
	background: url(../images/special_menu_bg.jpg) center 0;;
	background-attachment: fixed;	
	background-size: 100%;
	height: 750px;
	h2{
		font-size: 52px;
	}
	p{
		display: inline-block;
		font-size: 18px;
		color: #fff;
		width: 900px;
	}
	.carousel{
		height: 600px;
		position: relative;
		overflow: hidden;
		.carousel_img{
			width: 1094px;
			height: 470px;
			overflow: hidden;
			display: inline-block;
			position: relative;
			img{
				position: absolute;
				left: 0;
				top:0;
				width: 342px;
				height: 435px;
				margin:20px 10px;
				border:5px solid #fff;
			}
			img:nth-child(2){
				left:365px;
			}
			img:nth-child(3){
				left:730px;
			}
			.r_img{
				position: absolute;
				left:1095px;
			}
			.l_img{
				position: absolute;
				left:-362px;
			}
			.img_hover{
				position: absolute;
				left: 0;
				top:0;
				width: 342px;
				height: 435px;
				margin:20px 10px;
				border:5px solid #fff;
				z-index:4;
				transition: all 0.3s;
				span{
					position: absolute;
					left: 50px;
					bottom:0;
					width: 245px;
					height:155px;
					margin:20px 10px;
					border:5px solid #fff;
					z-index: 5;
				}
			}
			.img_hover:nth-child(2){
				left:365px;
			}
			.img_hover:nth-child(3){
				left:730px;
			}
		}
		ul{
			position: absolute;
			left:50%;
			bottom: 85px;
			margin-left:-70px;
			li{
				width: 15px;
				height: 15px;
				border-radius: 50%;
				display: inline-block;
				background: #ccc;
				cursor: pointer;
				margin:0px 5px;
			}
			li.active{
				background: red;
			}
		}	
	}
}
// 菜单our menu
.our_menu{
	padding:85px 0;
	background: #fff;
	.menu_titl{
		opacity: 0;
		transition: all 1s;
		h2{
			font-size: 52px;
		}
		p{
			font-size: 18px;
			color:#666;
			width: 900px;
			display: inline-block;
			margin:36px 0;
		}
	}
	.menu_content{
		width: 100%;
		background: #f5f5f5;
		border-bottom: 1px solid #ddd;
		margin-right: 0px; 
		margin-left: 0;
		.menu_content_sel{
			background: #f5f5f5;
			color: #666;
			cursor: pointer;
			transition: all 1s;
			.iconfont{
				font-size: 50px;
			}
			h3{
				width: 122px;
				display: inline-block;
				font-size: 22px;
				line-height: 46px;
				border-bottom: 1px solid #666;
			}
		}
		.menu_content_sel.active{
			color: #fff;
			background: #e75b1e;
			h3{
				border-bottom: 1px solid #fff;
			}
		}
	}
	.menu_all{
		overflow: hidden;
		width: 1170px;
		.menu_content_opts{
			background: #f5f5f5;
			padding: 15px 10px;
			margin-right: 0px; 
			margin-left: 0;
			display: none;
			transition: all 1s;
			div{
				display: inline-block;
				text-align: center;
			}
			.option{
				padding: 15px;
				img{
					border:10px solid #fff;
					border-radius: 50%;
				}
				h4{
					font-size: 20px;
					color: #e75b1e;
				}
				p{
					font-size: 14px;
					color: #6b6b6b;
					text-align: left;
				}
				.right{
					font-size: 26px;
					height: 92px;
					width: 92px;
					border:1px solid #e75b1e;
					border-radius: 50%;
					color: #000;
					padding:28px 0;
				}
			}
		}
		.menu_content_opts.active{
			display: block;
		}
	}	
}
//我们的团队
.our_team{
	background: url(../images/team_bg.jpg) center 0;
	background-attachment: fixed;	
	background-size: 100%;
	.title{
		opacity: 0;
		transition: all 1s;
		h2{
			font-size: 52px;
			color: #fff;
		}
		p{
			display: inline-block;
			font-size: 18px;
			color: #fff;
			width: 900px;
		}
	}
	.team{
		margin-top:20px;
		padding:0 15px;
		.team_intr{
			overflow: hidden;
			width: 360px;
			position: relative;
			img{
				display: block;
				width:360px;
				height: 360px;
			}
			.text_intr{
				padding:15px 0;
				width: 360px;
				background:#fff;
				transition: all 1.6s;
				position: relative;
				h3{
					font-size: 24px;
					color: #1f1f1f;
					margin:0;
				}
				p{
					display: block;
					margin:15px auto;
					font-size: 14px;
					color: #3b3b3b;
					width: 308px;
				}
				ul{
					margin:20px auto;
					overflow: hidden;
					li{
						display: inline-block;
						margin:0 5px;
						cursor: pointer;
					}
					.iconfont{
						color: #000;
						font-size:26px;
					}
					.iconfont:nth-of-type(3){
						color: #000;
					}
				}
			}			
			.zhe{
				width: 360px;
				height: 536px;
				background: transparent;
				position: absolute;
				top:0;
				left:0;
				transition: all 1.6s;
			}
		}	
		.team_intr:hover .zhe{
			background: #000;
			opacity: 0.3;
		}
		.team_intr:hover .text_intr{
			background: #e75b1e;
			z-index:100;
		}
		.team_intr:hover .text_intr h3{
			color: #fff;
		}
		.team_intr:hover .text_intr p{
			color: #fff;
		}
	}
}
//ourGallery
.our_gallery{
	padding:85px 0;
	background: #fff;
	.menu_titl{
		opacity: 0;
		transition: all 1s;
		h2{
			font-size: 52px;
		}
		p{
			font-size: 18px;
			color:#666;
			width: 900px;
			display: inline-block;
			margin:36px 0;
		}
	}
	.gallery_imgs{
		.imgss{
			width: 1140px;
			margin:0 auto;
			.img_child{
				height: 350px;
				overflow: hidden;
				padding:3px;
				position: relative;
				cursor: pointer;
				img{
					height: 100%;
					width: 100%;
					object-fit: cover;
				}
				span{
					display: block;
					position: absolute;
					height: 100%;
					width: 100%;
					top:0;
					left:0;
					background: #fff;
					opacity: 0;
					transition: all 0.8s;
				}				
				.iconfont{
					line-height: 350px;
					text-align: center;
					font-size: 50px;
					color: #fff;
				}			
			}
			.img_child:hover span{
				background:#e75b1e;
				opacity: 0.7;
			}
		}
		#mod{
			margin:20px auto;
			img{
				width: 100%;
				object-fit: cover;
				transform: scale(1.2,1.2)
			}
		}
	}
}

//blog
.our_blog{
	background: url(../images/blog_bg.jpg) center 0;
	background-attachment: fixed;	
	background-size: 100%;
	.title{
		opacity: 0;
		transition: all 1s;
		h2{
			font-size: 52px;
			color: #fff;
		}
	}
	.blogs{
		opacity: 0;
		transition: all 1s;
		margin-top:20px;
		.blog_main{
			width: 540px;
			margin:0 15px 20px 15px;
			.row{
				height: 270px;
				width: 540px;
				margin: 0;
				.left{
					padding: 0;
					height:270px;
					position: relative;
					cursor: pointer;
					img{
						height: 100%;
						width: 100%;
						object-fit: cover;
						transition: all 0.5s;
					}
					span{
						text-align: center;
						line-height: 30px;
						width: 30px;
						height: 30px;
						border: 1px solid #fff;
						border-radius: 50%;
						position: absolute;
						top:50%;
						left:50%;
						margin-left:-15px;
						margin-top:-15px;
						display: none;
						transition: all 0.5s;
						i{		
							font-size: 15px;
						}
					}
					span:hover{
						border-color:#e75b1e;
						color: #e75b1e;
					}
				}
				.left:hover img{
					filter: blur(2px);
				}
				.left:hover span{
					display: block;
				}
				.right{
					padding:0 15px;
					background: #fff;
					height: 100%;
					padding-top: 50px;
					p{
						font-size: 12px;
						color: #ccc;
					}
					p:nth-of-type(2){
						font-size: 22px;
						color: #000;					
					}
				}			
			}
		}	
	}
}
// pricing
.our_pricing{
	background: url(../images/full-bg.png) center 0;
	background-size: 100%;
	padding: 80px 0;
	.titl{
		margin-top:15px;
		opacity: 0;
		transition: all 1s;
		h2{
			color: #e75b1e;
			font-size: 52px;
		}
		p{
			font-size: 18px;
			color:#666;
			width: 900px;
			display: inline-block;
			margin:36px 0;
		}
	}
	.pricing{
		.pricing_content{
			padding:0 20px;
			.main{
				border:1px solid #e75b1e;
				position: relative;
				top:0;
				transition: all 0.3s;
				.head{
					background: #e75b1e;
					height: 155px;
					i{
						font-size: 64px;
						color: #fff;
					}
					span{
						display: block;
						font-size: 18px;
						color: #fff;
					}
				}
				.title{
					padding: 20px;
					background: #f0f0f0;
					span{
						font-size: 42px;
						font-weight:700;
						color: #000;
					}
					span:nth-of-type(2){
						color: #e75b1e;
					}
				}
				.content{
					background: #fff;
					h3{
						display: block;
						padding: 5px 0;
						font-size: 14px;
						line-height: 35px;
						margin:0;
						border-top:1px solid #ddd;
					}
				}
				.bottom{
					.btn{
						margin-top:10px;
						border-radius: 0px;
						background:#e75b1e ;
						border:2px solid #e75b1e;
						transition:  all 0.3s;
						position: relative;
						width: 90%;
						i{
							display: block;
							width: 0;
							height: 2px;
							background: #fff;
							position: absolute;
							bottom: 0;
							left:50%;
							transform: translate(-50%);
							transition: all 0.5s;
						}
					}
					.btn:hover i{
						background:#e75b1e ;
						width:100%;
					}
					.btn:hover{
						color: #3b3b3b;
						background: transparent;
					}
				}
			}
			.main:hover{
				top:-5px;
				box-shadow: 0 0 15px #333; 
			}
		}
	}
}
//Reservations
.reservations{
	padding:85px 175px;
	background: #fff;
	.reservations_titl{
		opacity: 0;
		transition: all 1s;
		h2{
			font-size: 52px;
		}
		h3{
			font-size: 22px;
			color: #000;
			margin-bottom:0;
		}
		p{
			font-size: 18px;
			color:#666;
			width: 850px;
			display: inline-block;
			margin:20px 0;
		}
	}
	form{
		margin-top:20px;
		.inputs{
			margin-bottom: 20px;
			input,select{
				height: 50px;
				padding:0 10px;
				color: #202020;
				background: #f5f5f5;
				border:2px dotted #ddd;
				border-radius: 4px;
				width: 100%;
			}
		}
		button{
			display: block;
			margin:10px auto;
			border-radius: 0px;
			background:#e75b1e ;
			border:2px solid #e75b1e;
			transition:  all 0.3s;
			position: relative;
			i{
				display: block;
				width: 0;
				height: 2px;
				background: #fff;
				position: absolute;
				bottom: 0;
				left:50%;
				transform: translate(-50%);
				transition: all 0.5s;
			}
		}
		button:hover i{
			background:#e75b1e ;
			width:100%;
		}
		button:hover{
			color: #3b3b3b;
			background: transparent;
			border:2px solid #e75b1e;
		}
	}
}
//Newsletter
.Newsletter{
	background: url(../images/newsletter-bg.jpg) fixed center 0;
	background-size: 100%;	
	.container{
		position: relative;
		z-index: 5;
		.title{
			opacity: 0;
			transition: all 1s;
			h2{
				font-size: 52px;
				color: #fff;
			}
			p{
				display: inline-block;
				font-size: 18px;
				color: #fff;
				width: 900px;
				margin-top:30px;
			}
		}
		form{
			display: block;
			width: 650px;
			margin:50px auto;
			.inputs{
				margin-bottom: 20px;
				overflow: hidden;
				width: 650px;
				margin:0 auto;
				input{
					display: block;
					float: left;
					height: 50px;
					padding:0 10px;
					color: #202020;
					background: #f5f5f5;
					border:2px dotted #ddd;
					border-radius: 4px ;
					border-right: none;
					width: 570px;
				}
				button{
					display: block;
					float: left;
					height: 50px;
					width: 50px;
					margin-top:0;
					background: #e75b1e;
					border:2px dotted #ddd;
					border-radius:4px;
					position: relative;
					right:5px;
				}
			}
		}
	}
}
.Newsletter::before{
		content: '';
		display: inline-block;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.50);
		position: absolute;
		top: 0;
		left: 0;
}
//footer
.footer{
	background: url(../images/footer_background.jpg) center;
	background-size: 100%;
	.container{
		position: relative;
		z-index: 5;
		.title{
			width: 230px;
			margin:0 auto;
		}
		.foot{
			margin-top:50px;
			color:#fff;
			.aboutUs{
				h3{
					font-size: 24px;
					color: #e75b1e;
					margin-top:0;
				}
				p{
					font-size: 14px;
					color: #fff;
					line-height: 25px;
				}
				p:nth-of-type(2){
					a{
						font-size: 20px;
						line-height: 23px;
						margin:0 5px;
						color: #fff;
						transition: all 0.5s;
						text-decoration: none;
					}
					a:hover{
						color: #e75b1e;
					}
				}
			}
			.newMenu{	
				h3{
					font-size: 24px;
					color: #e75b1e;
					margin-top:0;
				}
				li{
					position: relative;
					top:0;
					left:0;
					line-height: 25px;
					color: #e75b1e;
					font-size: 14px;
					transition: all 0.2s;
					margin:10px 0;
					a{
						font-size: 14px;
						color: #fff;
						text-decoration: none;
						transition: all 0.5s;
					}
				}
				li:hover{
					left:3px;
					top:-1px;
				}
				li:hover a{
					color: #e75b1e;
				}
			}
			.contactUs{
				h3{
					font-size: 24px;
					color: #e75b1e;
					margin-top:0;
				}
				p{
					line-height: 25px;
					i{
						font-size: 24px;
						color: #e75b1e;
						margin-right:10px;
						float: left;
					}
					span{
						font-size: 14px;
						color: #fff;
						transition: all 0.5s;
						display: table;
					}
				}
				p:nth-of-type(3):hover span{
					color: #e75b1e;
				}
			}
			.Hours{
				h3{
					font-size: 24px;
					color: #e75b1e;
					margin-top:0;
				}
				li{
					margin-bottom: 20px;
					p{
						font-size: 14px;
						color: #fff;
						margin:5px 0 5px 0;
					}
					span{
						font-size: 14px;
						color: #666;
					}
				}
			}
		}
	}	
}
.footer::before{
		content: '';
		display: inline-block;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.8);
		position: absolute;
		top: 0;
		left: 0;
}
//copyright
.copyright{
	border-top:2px dotted #fff;
	background: #e75b1e;
	line-height: 66px;
	p{
		line-height: 66px;
		text-align: center;
		color: #fff;
		span{
			color: #212121;
		}
	}
}